{% extends "base/base.html" %}

{% block title %}Liste des livres{% endblock %}

{% block content %}
<div class="container mt-4">

    <h1 class="mb-4">Catalogue des livres</h1>

    <div class="row">

        {% for book in books %}

        <div class="col-md-4 mb-4">
            <div class="border rounded shadow-sm h-100 p-3 text-center">

                {% if book.image %}
                    <img src="{{ book.image }}" class="img-fluid rounded mb-3"
                         style="height: 220px; object-fit: cover;">
                {% else %}
                    <img src=""
                         class="img-fluid rounded mb-3"
                         style="height: 220px; object-fit: cover;">
                {% endif %}

                <h5 class="fw-bold">{{ book.title }}</h5>

                <p class="mb-1"><strong>Auteur:</strong> {{ book.author }}</p>

                <p class="mb-2"><strong>Catégorie:</strong> {{ book.category }}</p>

                {% if book.available %}
                    <span class="badge bg-success mb-3">Disponible</span>
                {% else %}
                    <span class="badge bg-danger mb-3">Indisponible</span>
                {% endif %}

                {% if book.id %}
                    <a href="{% url 'book_detail' book.id %}" class="btn btn-dark w-100">
                        Voir détails
                    </a>
                {% elif book.isbn %}
                    <a href="{% url 'external_book_detail' book.isbn %}" class="btn btn-info w-100">
                        Voir détails
                    </a>
                {% endif %}

            </div>
        </div>

        {% empty %}
            <p>Aucun livre disponible.</p>
        {% endfor %}

    </div>

  <nav>
  <ul class="pagination justify-content-center">

    <!-- PREVIOUS -->
    {% if books.has_previous %}
      <li class="page-item">
        <a class="page-link"
           href="?page={{ books.previous_page_number }}{% if selected_category %}&category={{ selected_category }}{% endif %}">
          «
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">«</span>
      </li>
    {% endif %}

    <!-- PAGE NUMBERS -->
    {% for num in books.paginator.page_range %}
      {% if books.number == num %}
        <li class="page-item active">
          <span class="page-link">{{ num }}</span>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link"
             href="?page={{ num }}{% if selected_category %}&category={{ selected_category }}{% endif %}">
            {{ num }}
          </a>
        </li>
      {% endif %}
    {% endfor %}

    <!-- NEXT -->
    {% if books.has_next %}
      <li class="page-item">
        <a class="page-link"
           href="?page={{ books.next_page_number }}{% if selected_category %}&category={{ selected_category }}{% endif %}">
          »
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">»</span>
      </li>
    {% endif %}

  </ul>
</nav>
</div>
{% endblock %}